<footer class="footer">
    <section>
    <h3>Tienda</h3>
    <ul class="footer__ul">
        <li><a href="https://adalab.es">Productos</a></li>
        <li><a href="https://adalab.es">Cajoneras</a></li>
        <li><a href="https://adalab.es">Para toda la casa</a></li>
        <li><a href="https://adalab.es">Habitaciones</a></li>
    </ul>
    </section>

    <section>
        <h3>Nosotros</h3>
        <ul class="footer__ul">
            <li><a href="https://adalab.es">Nuestra guía</a></li>
            <li><a href="https://adalab.es">Nuestro diseño</a></li>
            <li><a href="https://adalab.es">Nuestra historia</a></li>
            <li><a href="https://adalab.es">Ayuda</a></li>
        </ul>
    </section>

    <section>
        <h3>Contacto</h3>
        <ul class="footer__ul">
        <li>ayuda@openspaces.com</li>
        <li><a href="https://adalab.es">Socios</a></li>
        </ul>
        <div class="footer__rrss">    
            <a href="https://adalab.es"><i class="fa-brands fa-linkedin-in"></i></i></a>
            <a href="https://adalab.es"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://adalab.es"><i class="fa-brands fa-twitter"></i></a>        
        </div>   
    </section>

    
    <div class="footer__arrow">
        <a href="#top"><i class="fa-solid fa-arrow-up"></i></a>
    </div>

</footer>
