<header class="header">
  <div class="header__menu-div-icon">
  <a href="https://adalab.es" class="header__icon"><i class="fas fa-bars"></i></a>
  </div>
  <div class="header__div-logo">
  <img src="./images/logo.png">
  </div>
  <nav class="header__nav">
    <ul class="header__menu">
        <li>Productos</li>
        <li>Colecciones</li>
        <li>Tienda</li>
        <li>Inicio</li>
    </ul>
  </nav>
  <div class="header__div">
  <h1>Disfruta creando <span class="header__div-h1-span">espacios</span></h1>
  <button class="header__button">Comprar Ahora</button>
  </div>

</header>
