<main>
  <section>
  <h2>Volverse organizado se siente mejor con OPEN SPACES</h2>
    <div>
      <img src="./images/icon_1.png" alt="icono1">
      <h3>Lo que necesitas</h3>
      <p>Una linea de productos diseñados para todos tus espacios</p>
    </div>

    <div>
      <img src="./images/icon_2.png" alt="icono2">
      <h3>Materias primas sustentables</h3>
      <p>Todos los productos con materias primas sustentables</p>
    </div>

    <div>
      <img src="./images/icon_3.png" alt="icono3">
      <h3>Guía</h3>
      <p>Soporte y asesoramiento con tu objetivo</p>
    </div>
  </section>
      
  <section>
      <img src="./images/go_6.png" alt="transporte">
      <h2>Envío gratis garantizado</h2>
      <p>Envío gratis en compras desde 100</p>
      <a href="#">Comprar ahora</a>    
  </section>

  <div>
    <section>
      <h2>Disfruta creando espacios</h2>
      <p>Una linea de producto diseñada para todos tus espacios</p>
      <button>Comprar Ahora</button>         
    </section>

    <section>
      <img src="./images/creando-espacios.jpg" alt="Accesorios baño">
    </section>
  </div>
</main>
