<main>
  <section class="main__section1">
  <h2 class="main__section1-titulo">Volverse organizado se siente mejor con <span class="main__section1-titulo-span">OPEN SPACES</span></h2>
    <div>
      <img src="./images/icon_1.png" alt="icono1">
      <h3>Lo que necesitas</h3>
      <p>Una linea de productos diseñados para todos tus espacios</p>
    </div>

    <div>
      <img src="./images/icon_2.png" alt="icono2">
      <h3>Materias primas sustentables</h3>
      <p>Todos los productos con materias primas sustentables</p>
    </div>

    <div>
      <img src="./images/icon_3.png" alt="icono3">
      <h3>Guía</h3>
      <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </div>
  </section>
      
  <section class="main__section2">
      <img src="./images/go_6.png" alt="transporte">
      <h2>Envío gratis garantizado</h2>
      <p>Envío gratis en compras desde 100</p>
      <a href="#"><b>Comprar ahora</b></a>    
  </section>

  <div class="main__section3-desktop">
  <section class="main__section3">
      <h2>Disfruta creando espacios</h2>
      <p>Una linea de producto diseñada para todos tus espacios</p>
      <button class="main__section3-button">Comprar Ahora</button>       
  </section>

  <div class="main__div-img"></div>
  </div>
  
</main>
